
jftt/list2/ex1/lex.yy.c
.gitignore
jftt/list2/ex1/test.l
jftt/list2/ex1/zad1.exe
jftt/list2/ex2/lex.yy.c
jftt/list2/ex3/ex3.exe
jftt/list2/ex3/lex.yy.c
.gitignore
jftt/list2/ex4/ex4.exe
jftt/list2/ex4/ex4.l
jftt/list2/ex4/lex.yy.c
jftt/list2/ex4/my_data.txt
jftt/list3/ex1/calculator
jftt/list2/ex2/ex2.exe
jftt/list3/ex1/calculator.tab.c
jftt/list3/ex1/calculator.tab.h
jftt/list3/ex1/emaple.txt
jftt/list3/ex1/lex.yy.c

aod/list3/results/
aod/list3/ch9-1.1/
aod/list1/aod_testy1/
aod/list1/aod_testy_moje/
aod/list1/dot_files_zad1/
aod/list1/zad1/dot_files2/
aod/list1/.idea
aod/.idea


jftt/.idea
jftt/list1/.idea

**/.idea/

*.exe

*.gz
*.log
*.fls
*.aux
*.fdb_latexmk